html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

td{
  vertical-align: middle;
}
::-webkit-scrollbar {
  display: none;
}
.insert-margin{
  margin-left: 25px;
}

#mytable td, #mytable th{
  border-collapse: collapse;
  border: .1px solid black;
  background-color: azure;
}

#mytable th{
  background-color:antiquewhite;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.filter{
  margin: auto;
  padding: 5px;
  width: 100%;
}
.card{
  margin: auto;
  border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.459);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.466);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
#filterClose{
  margin-right: 5px;
  float: right;
}