
@{
    ViewBag.Title = "you are not authorized to view the page";
}

<h2 class="alert alert-danger w-25 m-auto text-center">Access Denied!</h2>

<div class="w-25 m-auto text-center">
    Contact: <a href="mailto:LaunchPadSupport2@virginmedia.co.uk">Launpad Support</a>
</div>


